{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load linkinfo %}
{% block content %}

  <a href="/"><h1>NetworkSapling</h1></a>
  <a href="/logout"><button style="position: absolute; margin-left: 90%;" class="blue-button">Logout</button></a>

  <img class="profile" src="{{ user.profile.image.url }}">
  <h2 style="text-align: center">{{ user.username }}</h2>
  <p style="text-align: center">{{ user.email }}</p>

  {% for link in request.user.profile.link_set.all %}
  <p class="link", style="display: none;">{{ link.url }}</p>
  <p id="title {{ link.url }}" style="display: none;">{{ link.url | linktitle }}</p>
  <p id="description {{ link.url }}" style="display: none;">{{ link.url | linkdescription }}</p>
  {% endfor %}

  <div id="buttons"></div>

  <form id="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <script>
      var linkList = document.getElementsByClassName("link")
  
      for (let i = 0; i < linkList.length; i++) {
        //creates clickable buttons for each inputted link
        var button = document.createElement("button")
        button.innerText = document.getElementById("title " +linkList[i].innerText).innerHTML
        button.classList.add("blue-button")
        button.classList.add("button-profile")
        button.classList.add("redirect")
        button.addEventListener("click", function() {
          window.location.replace(linkList[i].innerText)
        })
        document.getElementById("buttons").appendChild(button)

        //creates delete buttons associated with each link button
        var del = document.createElement("button")
        del.innerText = "Remove "+document.getElementById("title " +linkList[i].innerText).innerHTML
        del.name = "delete_link"
        del.type = "submit"
        del.value = linkList[i].innerText
        del.classList.add("purple-button")
        document.getElementById("form").appendChild(del)

        //creates div for preview of url for each link
        var div = document.createElement("div")
        div.classList.add("preview")
        div.id = i
        document.getElementById("buttons").appendChild(div)

        //displays title for each link preview
        var title = document.createElement("h2")
        title.innerHTML = document.getElementById("title " +linkList[i].innerText).innerHTML
        document.getElementById(i).appendChild(title)

        //displays favicon for each link preview
        var favicon = document.createElement("img")
        favicon.src = "https://s2.googleusercontent.com/s2/favicons?domain_url="+linkList[i].innerText
        document.getElementById(i).appendChild(favicon)

        //displays description for each link preview
        var description = document.createElement("p")
        description.innerHTML = document.getElementById("description "+linkList[i].innerText).innerHTML
        document.getElementById(i).appendChild(description)

        //displays iframe preview image for each link preview
        var preview = document.createElement("iframe")
        preview.src = linkList[i].innerText
        preview.style = "pointer-events: none;"
        preview.scrolling = "no"
        preview.width = "400px"
        preview.height = "400px"
        document.getElementById(i).appendChild(preview)
      }
    </script>

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="blue-button" name="update_profile" type="submit">Update</button>
    </div>
    {{ l_form|crispy }}
    <button class="blue-button" name="add_link" type="submit">Add</button>
  </form>

{% endblock content %}