h2 {
    font-family:monospace;
}

h1 {
    text-align: center;
    border: 5px solid white;
    background-color: lightblue;
    color: black;
    font-family: monospace;
}

body {
    background-color: black;
    color: lightblue;
}

.box {
    margin: auto;
    height: 135px;
    width: 150px;
    border: 5px solid white;
    background-color: lightblue;
}
  
.sapling {
    margin: auto;
}

.invisible {
    display: none;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: lightblue;
  background-image: linear-gradient(1deg, rgb(122, 168, 184), rgb(193, 231, 243));
  background-size: calc(100% + 20px) calc(100% + 20px); 
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.profile {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid lightblue;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center {
    text-align: center;
}

.button-profile {
    margin: auto;
    width: 70%;
    display: block;
}